*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: monospace;
}
.class1{
    height: 100% ;
    width: 70%;
    background-color; ;
    float: left;
    min-width: 40px;
}
.girlimg{
    position: fixed;
    top: 40px;
    right: 50px;

}
.logo{
    margin-top: 40px;
    margin-left: 170px;
}
.comingsoon{
    margin-top: 100px;
    margin-left: 170px;
    font-size: 3rem;
    font-weight: 20;
    letter-spacing:7px;
    line-height: 50px;
    color: violet;
}
.hello{
    margin-top: 20px;
    margin-left: 170px;
    margin-right: 300px;
    letter-spacing: 1px;
    color: violet;
    line-height: 30px;
    font-weight: 30;
}
.email{
    margin-left: 170px;
    border-style: groove;
    border-color: red;
    border-radius: 25px;
    line-height: 30px;
    width: 250px;
}

.mark{
    font-size: 24px;
    color: red;
}